HONEYSHOP_SLACK_WEBHOOK=https://hooks.slack.com/services/XXX/YYY/ZZZ
HONEYSHOP_SMTP_HOST=smtp.example.com
HONEYSHOP_SMTP_PORT=587
HONEYSHOP_SMTP_USER=alerts@example.com
HONEYSHOP_SMTP_PASSWORD=secret
HONEYSHOP_EMAIL_FROM=honeyshop@example.com
HONEYSHOP_EMAIL_TO=secops@example.com
HONEYSHOP_SMTP_TLS=1
